body{
    margin:0;
    padding:0;
    background-color:rgb(216, 208, 208);
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 7, 7);
    height: 70px;
    font-size: 28px;
  }
  
  .navLink {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }